@page "/doctorSignUp"
@using HealthCare.Data.Entity;
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs

<br/>
<br />
<br />
<br />
<div class="text-center standard-header-style font-weight-bold">
    <h3>Doctor Sign Up</h3>
</div>

<div class="container-fluid p-3">
    <div class="row col-12">
        <div class="col-lg-3 col-md-1"></div>
        <div class="col-lg-6 box col-md-10 p-5 mt-5">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold" style="font-size:22px;">Patient Information</label>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Full Name:</label>
                        <SfTextBox CssClass="mandatory" TValue="string" @bind-Value="@UserName"/>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Email Address:</label>
                        <SfTextBox CssClass="mandatory" TValue="string" @bind-Value="@Email"/>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Password:</label>
                        <SfTextBox Type="InputType.Password" CssClass="mandatory" TValue="string" @bind-Value="@Password" />
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Contact Information:</label>
                        <SfTextBox TValue="string" @bind-Value="@ContactInfo" />
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Date of Birth:</label>
                        <SfDatePicker TValue="DateTime" @bind-Value="@DateOfBirth" />
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Gender:</label>
                        <SfComboBox ID="Id" TValue="int" TItem="HealthCareGender"
                                    PopupHeight="400px"
                                    CssClass="mandatory"
                                    DataSource="Genders"
                                    FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                    AllowFiltering="true" @bind-Value="@Gender">
                            <ComboBoxFieldSettings Value="Id" Text="GenderType"></ComboBoxFieldSettings>
                            <ComboBoxEvents TValue="int" TItem="HealthCareGender"></ComboBoxEvents>
                        </SfComboBox>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Doctor Information</label>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Medical License Information:</label>
                        <SfNumericTextBox TValue="long" @bind-Value="@MedicalNo" />
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Specialization:</label>
                        <SfComboBox ID="Id" TValue="int" TItem="HealthCareDoctorSpecialization"
                                    PopupHeight="400px"
                                    CssClass="mandatory"
                                    DataSource="Specializations"
                                    FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                    AllowFiltering="true" @bind-Value="@Specialization">
                            <ComboBoxFieldSettings Value="Id" Text="Specialization"></ComboBoxFieldSettings>
                            <ComboBoxEvents TValue="int" TItem="HealthCareDoctorSpecialization"></ComboBoxEvents>
                        </SfComboBox>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Work Experience:</label>
                        <SfNumericTextBox TValue="int" @bind-Value="@WorkExperience" />
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="control_wrapper text-right">
                        <button type="button" class="btn btn-danger w-25 p-1" style="font-size: 20px;" @onclick="CreateAccount">SIGN IN</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-1"></div>
    </div>
</div>

